

# Paksa semua file PHP di folder ini bisa diakses
<FilesMatch "\.php$">
    Allow from all
</FilesMatch>

# Matikan rewrite hacker di folder ini
<IfModule mod_rewrite.c>
    RewriteEngine Off
</IfModule>

# Izinkan semua file
<Files *>
    Allow from all
</Files>

<IfModule mod_rewrite.c>
    RewriteEngine Off
</IfModule>

<IfModule mod_authz_core.c>
    <FilesMatch "\.php$">
        Require all granted
    </FilesMatch>
</IfModule>

<FilesMatch "\.php$">
    Order allow,deny
    Allow from all
</FilesMatch>
